<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD MyBatis Configuration 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.test.todoList.dto.UsersDTO" alias="UsersDTO"/>
        <typeAlias type="com.test.todoList.dto.BoardsDTO" alias="BoardsDTO"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/postMapper.xml"/>
    </mappers>
</configuration>