<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
<header class="header">
    <nav class="navbar_navbar__O41pd">
        <div class="navbar_navigation__P0M5v">
            <a href="/"><img src="../img/Group 4 (1).png" alt="" class="logo"></a>
        </div>
        <div class="navbar_loginElementWrapper__11CeH">
            <!-- <a href="#"><img src="./img/Group 3.png" alt="" style="width: 120px; padding:12px;"></a> -->
            <ul class="header-ul">
                <li class="header-li"><a class="head-li-a" href="#">사람구하기</a></li>
                <li class="header-li" th:if="${isLogin == false}"><a class="head-li-a" href="/login">로그인</a></li>
                <li class="header-li" th:if="${isLogin != false}"><a class="head-li-a" href="#">프로필</a></li>
            </ul>
        </div>
    </nav>
</header>
</div>
</body>
</html>