* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f3f4f6;
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}
.post-content {
    width: 70%;
    margin: 0px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.post-container {
    display: flex;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    flex-direction: column;
    background-color: #f9fafb;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}
.head-top h1 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #1d4ed8;
    text-align: center;
    font-weight: bold;
}
.head-mid, .head-foot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f1f5f9;
    border-radius: 5px;
}
.category, .day, .endDate, .count, .language, .position {
    font-size: 16px;
    font-weight: 600;
    color: #374151;
    flex: 1;
    text-align: center;
}
.mid-container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #d1d5db;
}
.content h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #111827;
}
.content p {
    font-size: 18px;
    line-height: 1.8;
    margin: 15px 0;
    color: #4b5563; /* 중간 톤 회색 */
}
.content p > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 8px;
}
.foot-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    width: 90%;
    margin: 30px auto 0;
    border-top: 1px solid #e5e7eb;
}
.name {
    font-size: 18px;
    font-weight: bold;
    color: #6b7280; /* 중간 회색 */
    margin-left: auto;
}
