<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    ul {
        list-style-type: none; /* 기본 목록 스타일 제거 */
        padding: 0;
        margin: 0;
        display: flex; /* 가로 배치 */
        gap: 20px; /* 항목 간격 */
    }

    li {
        padding: 12px;
        font-size: 18px;
        font-weight: bold;
    }

    /* 버튼 스타일 추가 */
    li a {
        text-decoration: none; /* 밑줄 제거 */
        font-size: 18px;
        color: black;
        font-weight: 800;
    }


</style>
<body>
<header style="width: 60%; margin:0 auto;">
    <nav class="navbar_navbar__O41pd" style="display: flex; justify-content: space-between;">
        <div class="navbar_navigation__P0M5v">
            <a href="/"><img src="../img/Group 4 (1).png" alt="" style="width: 120px; padding: 12px;"></a>
        </div>
        <div class="navbar_loginElementWrapper__11CeH">
            <!-- <a href="#"><img src="./img/Group 3.png" alt="" style="width: 120px; padding:12px;"></a> -->
            <ul>
                <li><a href="">사람구하기</a></li>
                <li th:if="${isLogin == false}"><a href="/login">로그인</a></li>
                <li th:if="${isLogin != false}">프로필</li>
            </ul>
        </div>
    </nav>
</header>
<div style="width: 60%; margin:0 auto; height:300px">
    <div class="swiper" style="height: 100%; margin: 0 auto">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper" style="height: 100%;">
            <!-- Slides -->
            <div class="swiper-slide" style="background-color: #f8f8f8;">Slide 1</div>
            <div class="swiper-slide"style="background-color: #f8f8f8;">Slide 2</div>
            <div class="swiper-slide"style="background-color: #f8f8f8;">Slide 3</div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
</body>
<script>
    const swiperSlides = document.querySelectorAll('.swiper');

    swiperSlides.forEach(function (element, index) {
        element.classList.add("swiper-" + index);
        let swiper = new Swiper(".swiper-" + index, {
          autoplay: {
                delay: 1,
                // 슬라이드가 자동으로 전환되기까지의 시간 간격
                desableOnInteraction: false,
                // arrow나 pagination이용 후 자동 재생을 비활성화 할지의 여부
          },
          speed: 8e3,
          // 슬라이드가 자동으로 전환되는 속도를 설정
          loop: true,
          // 슬라이드가 무한 순환
          slidesPerView: "auto",
          // 슬라이드가 표시되는 갯수를 설정
          freemode: true
          // 슬라이드가 자유롭게 스와이프 되도록 설정
        });
    });
</script>
</html>