<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/header.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="../js/fetchWithAuth.js"></script>
<script src="../js/main.js"></script>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="slide-content">
    <div class="swiper mySwiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img class="slide-page" src="../img/Grou 9.png"  alt=""></div>
            <div class="swiper-slide"><img class="slide-page" src="../img/Grou 5 (2).png" alt=""></div>
            <div class="swiper-slide"><img class="slide-page" src="../img/Grou 5 (1).png"></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<div>
    <div class="recruitment-post">
        <h2>모집글</h2>
    </div>
    <div class="recruitment-sel">
        <select class="sel-options" name="" id="">
            <option value="">전체</option>
            <option value="">스터디</option>
            <option value="">프로젝트</option>
        </select>
    </div>
    <div class="post">
        <div  th:each="post : ${postPage}">
            <a class="post-container" th:href="@{/post/{id}(id=${post.id})}">
                <div class="side-title">
                    <p class="side_title" th:text="${post.category}">카데고리</p>
                </div>
                <div class="post-title">
                    <h3 class="title" th:text="${post.title}">무엇무엇을 무엇을 구합니다</h3>
                </div>
                <div class="post-content">
                    <p class="content" th:text="${post.content}">블라블라블라블라이렇고저렇고--------글자 수 70자에서짜르기</p>
                </div>
                <div class="post-language">
                    <p class="language" th:text="${post.language}">언어1 언어2 언어3</p>
                </div>
                <div class="post-position">
                    <p class="position">프론트, 백엔드</p>
                </div>
                <div class="post-people">
                    <p class="people" th:text="|인원수 : ${post.count}|"></p>
                </div>
                <div class="post-a">
                    <p class="language">김창수(xxxx***)</p>
                </div>
            </a>
        </div>
    </div>
    <div th:replace="fragments/paging :: paging"></div>
</div>
</body>
</html>